h1= title
div= 'hogehoge'
	form(method='POST', action='/snap/')
		label= 'imageURI'
		input(type='text', name='imageURI')
		br
		label= 'message'
		input(type='text', name='message')
		br
		label= 'left'
		input(type='text', name='transleft')
		br
		label= 'top'
		input(type='text', name='transtop')
		br
		label= 'rotate'
		input(type='text', name='transrotate')
		br
		label= 'fontSize'
		input(type='text', name='decoFontSize')
		br
		label= 'color'
		input(type='text', name='decoColor')
		br
		label= 'shadowColor'
		input(type='text', name='decoShadowColor')
		br
		input(type='submit')
