div#wrapper
	div#header
		div#title
			a(href= '/')
				img(src='/images/logo.png')
	div#create
		h2= '新しい伊達ワル'
		div#frmWrap
			form(method='POST', action='/snap/')
				table
					tr
						td= '伊達 ワルフェイス(画像URL)'
						td= ':'
						td
							input(type='text', name='imageURI')
						td
					tr
						td= '伊達 ワルヴォイス(メッセージ)'
						td= ':'
						td
							input#message(type='text', name='message')
						td#comment
							a(href='/comment/random')
								span.guide= 'ランダム' 
				input(type='hidden', name='transleft', value='0')
				input(type='hidden', name='transtop', value='0')
				input(type='hidden', name='transrotate', value='4')
				input(type='hidden', name='decoFontSize', value='25')
				input(type='hidden', name='decoColor', value='#fff')
				input(type='hidden', name='decoShadowColor', value='red')
				button
					p='作る'
	div#footer
		p= '本サービスは本家メンズナックルとは何の関係もありません'
		a(href='/')='http://mennakumaker.herokuapp.com/'
script(type='text/javascript')
	$(function(){
		$('td#comment a').click(function(){
			$.getJSON($(this).attr('href')).then(function(comment){
				$('#message').val(comment.message);
			});
			return false;
		});
	});
