div#wrapper
	div#header
		div#title
			a(href= '/')
				img(src='/images/logo.png')
		div#twin
			div#contents
				div#top
					h2= '今日の伊達ワルな奴ら'
					div#cover
						div.left
							div#first
								a(href='/snap/'+snaps[0]._id)
									div 
										img.sumbnail(src=snaps[0].imageURI)
						div.right
							div#second
								a(href='/snap/'+snaps[1]._id)
									div 
										img.sumbnail(src=snaps[1].imageURI)
							div#third
								a(href='/snap/'+snaps[2]._id)
									div 
										img.sumbnail(src=snaps[2].imageURI)
				div#mens
					ul
			div#subcontents
				div.box
					a(href='/snap/')
						p= 'フレッシュな伊達ワルをPOSTする'
				div#comment.box
					a(href='/comment/random')
						p= '伊達ワルな一言を聞く'
	div#footer
		p= '本サービスは本家メンズナックルとは何の関係もありません'
		a(href='/')='http://mennakumaker.herokuapp.com/'
script(type='text/javascript')
	$(function(){
		$('div#comment a').click(function(){
			$.getJSON($(this).attr('href')).then(function(comment){
				alert(comment.message);
			});
			return false;
		});
	});
