div#wrapper
	div#header
		div#title
			a(href= '/')
				img(src='/images/logo.png')
		div#twin
			div#contents
				div#top
					h2= '今日の伊達ワルな奴ら'
					div#cover
						div.left
							div#first
								a(href='/snap/'+snaps[0]._id)
									div 
										img.sumbnail(src=snaps[0].imageURI)
						div.right
							div#second
								a(href='/snap/'+snaps[1]._id)
									div 
										img.sumbnail(src=snaps[1].imageURI)
							div#third
								a(href='/snap/'+snaps[2]._id)
									div 
										img.sumbnail(src=snaps[2].imageURI)
			div#subcontents
				div.box
					a(href='/snap/')
						img(src='/images/editors_room.png', alt='伊達ワルエディタ')
				div#comment.box
					a(href='/comment/random')
						img(src='/images/pickup_message.png', alt='伊達ワルな一言')
				div.box
					a(href='/snap/list')
						img(src='/images/allstar_team.png', alt='その他の伊達ワル達')
	div#footer
		p= '本サービスは本家メンズナックルとは何の関係もありません'
		a(href='/')='http://mennakumaker.herokuapp.com/'
div#commentDialog(style='diaply:none;', title='伊達ワル名言')
	p= ''
script(type='text/javascript', src='/javascripts/jquery-ui.js')
script(type='text/javascript')
	$(function(){
		$('div#commentDialog').dialog({modal:true, autoOpen:false});
		$('div#comment a').click(function(){
			$.getJSON($(this).attr('href')).then(function(comment){
				$('div#commentDialog').find('p').text(comment.message).end().dialog('open');
			});
			return false;
		});
	});
