div#wrapper
	div#header
		div#title
			h1= title
	div#main
		img(src= snap.imageURI)
		div#ccopyarea
			span(id='ccopy')= snap.message
	div#sidebar
		div#sns
			a(href="http://twitter.com/share?url=http%3A%2F%2Fmennakumaker.herokuapp.com%2Fsnap%2F" + snap._id + "&text=" + snap.message + "&counturl=http%3A%2F%2Fmennakumaker.herokuapp.com%2F&hashtags=mennakumaker")
				img(src="/images/icons/32px/twitter.png")
			input(type='button', value='fb')
			input(type='button', value='G+')
			input(type='button', value='mi')
		div#edit_area
			h 画像 
			br
			input(type='text',value='')
			
			br
			br
			h メッセージ
			ul
				li キャッチコピー: 
				input(type='text',id='copymsg',value=snap.message)
				li 本文色:
				li シャドウ:
				li 角度:
				input#input_rotate(type='range',value=snap.transform.rotate,min='0',max='50')
				li 表示位置
				input#input_left(type='text',value=snap.transform.left)
				input#input_top(type='text',value=snap.transform.top)

		div#adv
script(type='text/javascript',src='/javascripts/copymsg.js')
script(type='text/javascript')
	var trans = {top:#{snap.transform.top}, left:#{snap.transform.left}};
