div#wrapper
	div#header
		div#title
			a(href= '/')
				img(src='/images/logo.png')
	div#main
		img#img(src= snap.imageURI)
		div#ccopyarea
			span(id='ccopy')= snap.message
	div#sidebar
		div#sns
			a(href="javascript:(function(){window.open('http://twitter.com/share?url=http%3A%2F%2Fmennakumaker.herokuapp.com%2Fsnap%2F" + snap._id + "&text=" + snap.message + "&counturl=http%3A%2F%2Fmennakumaker.herokuapp.com%2F&hashtags=mennakumaker','_blank');})();")
				img(src="/images/icons/20px/twitter.png")
			a(href="javascript:(function(){window.open('http://www.facebook.com/share.php?u=http%3A%2F%2Fmennakumaker.herokuapp.com%2Fsnap%2F" + snap._id + "','_blank');})();")
				img(src="/images/icons/20px/facebook.png")
			a(href="javascript:(function(){window.open('https://plusone.google.com/_/+1/confirm?hl=ja&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title),'_blank');})();")
				img(src="/images/icons/20px/google_plus.png")
			a(href="javascript:(function(){window.open('http://mixi.jp/share.pl?u=http%3A%2F%2Fmennakumaker.herokuapp.com%2Fsnap%2F" + snap._id + "&k=b34bf9c2f6f631cf3f7b67438c6ac62f166c4c8e','_blank');})();")
				img(src="/images/icons/20px/mixi.png")
		div#edit_area.box
			h メッセージ編集
			p(style='font-size:12px;')= '(文言はDrag & Dropで移動可)'
			ul
				li 伊達ワルヴォイス: 
				a#getcopy(src='/comment/random')='ランダム' 
				input#copymsg(type='text',value=snap.message)
				li 伊達ワルサイズ:
				input#input_size(type='range',value=snap.decoration.fontSize,min='5',max='50')
				li 伊達ワル傾き:
				input#input_rotate(type='range',value=snap.transform.rotate,min='-50',max='50')
				li 伊達ワルの色気(本文, 外周):
				div#colbox
					div#color1(class='cselector')
						div(class='inner')
					div#color2(class='cselector')
						div(class='inner')
				input#input_left(type='hidden',value=snap.transform.left)
				input#input_top(type='hidden',value=snap.transform.top)
			button#update='伊達ワルをグレードアップ'

	div(style='clear:both;')
	div#footer
		p= '本サービスは本家メンズナックルとは何の関係もないです'
		a(href='/')='http://mennakumaker.herokuapp.com/'

script(type='text/javascript',src='/javascripts/copymsg.js')
script(type='text/javascript',src='/javascripts/colorpicker.js')
link(rel='stylesheet',type='text/css',href='/stylesheets/colorpicker.css')
script(type='text/javascript')
	var trans = {top:#{snap.transform.top}, left:#{snap.transform.left}};
	var decoration = {
		fontSize:#{snap.decoration.fontSize},
		color:'#{snap.decoration.color}',
		textShadow:{
			x:#{snap.decoration.textShadow.x},
			y:#{snap.decoration.textShadow.y},
			blur:#{snap.decoration.textShadow.blur=10},
			color:'#{snap.decoration.textShadow.color}'
		}
	};

	window.addEventListener("load", init, true);

